<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/parts/common :: head"></head>
<body>
<div th:replace="/parts/navbar :: navbar"></div>
<div class="container mt-5">

    <h2 class="text-center"></h2>

    <form action="/Users" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Edit user name: </label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="userName" th:value="${User.username}"/>
            </div>
        </div>

        <div th:each="role : ${Role}">
            <label th:text="${role}">
            </label>
            <input  type="checkbox" th:name="${role}"  th:checked="${#lists.contains(User.role, role)}? 'checked'"/>
        </div>
    <input type="hidden" th:value="${User.id}" name="userId"/>
    <input type="hidden" th:value="${_csrf.token}" name="_csrf">
    <button class="btn btn-primary m-2" type="submit">Save</button>
    </form>

</div>
<script th:replace="/parts/common :: footerScpipt"></script>
</body>
</html>

