<nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/">projectMVC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " th:if="${session.currentUser}">
                <a class="nav-link" th:href="@{/main}">Main <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " th:if="${session.isAdmin}">
                <a class="nav-link" th:href="@{/Users}">Users <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item " th:if="${session.currentUser == null}">
                <a class="nav-link" th:href="@{/login}">Sing in <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " th:if="${session.currentUser == null}">
                <a class="nav-link" th:href="@{/registration}">Registration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " th:if="${session.currentUser}">
                <a class="nav-link" th:href="@{${'/messages/' + session.currentUserId}}">My messages<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown" th:if="${session.currentUser}">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Setting</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/Users/profile}">Profile</a>
                    <a class="dropdown-item" th:href="@{/changePhone}">New Phone number</a>
                </div>
            </li>
        </ul>

        <div class="navbar-text mr-3" th:text="${session.currentUserName}"></div>
        <form class="form-inline my-2 my-lg-0 " method="get" th:action="@{/main}" th:if="${session.currentUser}">
            <input class="form-control mr-sm-2 " name="filter" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success mr-5 my-sm-0" type="submit">Search</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

            <button class="btn btn-success mr-3 my-sm-0" type="submit" th:text="${session.currentUser}? 'Sing Out' : 'Log in'"></button>

        </form>
    </div>
</nav>